.inputText {
  width: 500px;
  height: 48px;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.inputText:focus {
  border-color: dodgerBlue;
  -webkit-box-shadow: 0 0 8px 0 dodgerBlue;
          box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.magnifyingGlassContainer {
  position: absolute;
  right: 24px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.active {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
}

.noActive {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
}

.autocomplete {
  padding: 0;
  margin: 0;
  width: 500px;
  background-color: aliceblue;
}
